.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 4vw;
  text-transform: uppercase;
  white-space: nowrap;
  transition: background-color 0.15s;
  text-align: center;
  margin: 1rem 0;
  outline: 0;

  .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
  }

  &--primary {
    background-color: $color-headings;
    color: white;

    &:hover {
      background-color: lighten($color-primary, 10%);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: white;

    &:hover {
      background-color: lighten($color-secondary, 10%);
    }
  }

  &--accent {
    background-color: $color-accent;
    color: white;

    &:hover {
      background-color: lighten($color-accent, 10%);
    }
  }

  &--block {
    display: inline-block;
    width: 100%;
  }

  &--outline {
    background-color: transparent;
    border: 2px solid $color-headings;
    color: $color-headings;

    &:hover {
      background-color: $color-headings;
      color: white;
    }
  }

  &--stretched {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

@include respond(tab-land) {
  .btn {
    font-size: 1.5rem;
  }
}
