@use "../abstracts" as *;

.feature {
  gap: 4rem;
  margin: 12rem 0;
  align-items: center;

  &:first-of-type {
    margin-top: 6rem;
  }

  &__heading {
    margin: 1rem 0;
  }

  &__image {
    max-width: 100%;
  }

  @include respond(tab-port) {
    &:nth-of-type(even) &__content {
      order: 2;
    }
  }
}

.feature-image__container {
  justify-self: center;
}
