@use "../abstracts" as *;

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  outline: 0;
  color: $color-headings;
  font-size: 2rem;

  @include respond(tab-land) {
    font-size: 1.5rem;
  }
}

::placeholder {
  color: #57554d;
}
