.link-arrow {
  color: $color-accent;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;

  &::after {
    content: "-->";
    margin-left: 5px;
    transition: margin-left 0.15s;
  }

  &:hover::after {
    margin-left: 10px;
  }

  @include respond(tab-land) {
    font-size: 1.5rem;
  }
}
