@use "../abstracts" as *;

.plan {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &--popular:hover {
    transform: scale(1.15);
  }

  &__name {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
  }

  &__price {
    font-size: 6rem;
  }

  &__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
  }

  &__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
  }

  .list__item {
    margin-bottom: 2rem;
  }

  &--popular {
    transform: scale(1.1);

    .card__header {
      position: relative;

      .card__header::before {
        content: "Popular";
        background-color: $color-accent;
        writing-mode: vertical-rl;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 5%;
        border-radius: 0 0 10px 10px;
        font-size: 1.5rem;
        padding: 1rem 0.2rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .plan {
    &__name {
      font-size: 1.4rem;
    }

    &__price {
      font-size: 5rem;
    }

    &__billing-cycle {
      font-size: 1.6rem;
    }

    &__description {
      font-size: 1.7rem;
    }
  }
}
