@use "../abstracts" as *;

.quote {
  font-size: 2.4rem;
  font-style: italic;
  color: shade($color-body, 20%);
  line-height: 1.3;

  &__text {
    &::before {
      content: "“";
    }

    &::after {
      content: "”";
    }
  }

  &__author {
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
  }

  &__company {
    color: $color-headings;
    opacity: 0.4;
    font-size: 2rem;
    font-style: normal;
  }

  @include respond(tab-land) {
    font-size: 2rem;

    &__author {
      font-size: 2.4rem;
    }

    &__company {
      font-size: 1.6rem;
    }
  }
}
