<section class="block">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veniam
        ducimus tempore aut maxime voluptates repudiandae distinctio numquam,
        enim mollitia possimus unde voluptatibus qui voluptas ut, soluta
        expedita quia necessitatibus.
      </p>
    </header>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veniam
        ducimus tempore aut maxime voluptates repudiandae distinctio numquam,
        enim mollitia possimus unde voluptatibus qui voluptas ut, soluta
        expedita quia necessitatibus.
      </p>
    </header>
  </div>
</section>
