@use "../abstracts" as *;

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-size: cover;
  background-position: top;

  &__tagline {
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
  }

  &__image {
    max-width: 100%;
    margin: 2rem 0;
  }
}

@include respond(tab-port) {
  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Block Domain */
.block-domain {
  .input-group {
    box-shadow: 0 0 30px 20px #e6ebee;
    margin: 4rem auto;
    max-width: 670px;
  }

  &__prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
    color: $color-headings;
  }
}

@include respond(phone) {
  .block-domain__prices {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include respond(tab-port) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: 1fr;
  }
}

/* Plans Block */
.block-plans {
  .grid {
    gap: 8rem 4rem;
  }

  .card {
    max-width: 500px;
    justify-self: center;
  }
}

/* Feature media */
.feature-media.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

@include respond(tab-port) {
  .feature-media__image {
    order: -1;
  }
}

/* Testimonials */
.testimonial {
  padding: 3rem;

  &__image {
    position: relative;

    > img {
      width: 100%;
    }

    > .icon-container {
      position: absolute;
      top: 3rem;
      right: -32px;
    }
  }
}

@include respond(tab-port) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}
